@using Era_sphere.Areas.AreaClientes.Models
@model Cliente
@{
    ViewBag.Title = "BoletaCliente";
}


    <div class="editor-label"> @Html.LabelFor(model => model.nombre) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.nombre) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.apellido_materno) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.apellido_paterno) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.nombre) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.nombre) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.documento_identidad) : <label>@Model.tipo_documento.descripcion</label></div>
    <div class="editor-label"> @Html.DisplayFor(model => model.documento_identidad) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.puntos_cliente) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.puntos_cliente) </div>
    <br />