@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model IEnumerable<ReservaView>
@{
    ViewBag.Title = "IndexHotel";
    var hotelID = (int)ViewData["hotelID"];
    // var paises = (new EraSphereContext()).paises.ToList();
    // var ciudades = (new EraSphereContext()).ciudades.ToList();
    var estados = (new EraSphereContext()).estados_reserva.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

 @{Html.Telerik().Window()
    .Name("Cortecuenta").Title("Corte de Cuenta")
    .Content(@<text><div id="cortecuentadiv">
    </div></text>).Visible(false).Width(600).Height(400).Scrollable(true).Modal(true).ClientEvents(events => events.OnClose("verificaPago")).Draggable(true).Render();
     }

<script type="text/javascript">
    function onComplete(e) {
        console.log(e.name);
        if (e.name == "mostrar_juridico") {
            $("#detalle-cliente-juridico").load('@Url.Action("ClienteJuridicoShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleJuridico").data("tWindow");
            detailModal.center().open();
        } else if (e.name == "mostrar_natural") {
            $("#detalle-cliente-natural").load('@Url.Action("ClienteNaturalShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleNatural").data("tWindow");
            detailModal.center().open();
        }
    }
    function verificaPago(e) {
        
    }
</script> 

<script type="text/javascript">
    var antes = []; var first = true;
    var id = -1;
    function generarCruces(e) {
        var grid = $("#ReservaGrid").data("tGrid");
        if (!('data' in grid)) return;
        var despues = grid.data;
        if (first || despues.length == 0) {
            antes = despues;
            first = false;
            return;
        }
        id = -1;
        if (despues.length > antes.length && despues.length >= 1) id = despues[despues.length - 1].ID;
        antes = despues;
        if (id == -1) return;
        $.ajax({
            url: '@Url.Action("RefrescaHabitaciones", "Reserva")',
            traditional: true,
                       data: { hab_ids: hab_ids, reserva_id : id },
                       type: "POST",
                       success: function (data) { },
                       async: false
         });
         id = -1;
         grid.ajaxRequest();
    }
    function edita(e) {
        if (e.mode == "edit") {
            hab_ids = [];
            for (i in e.dataItem.habitaciones) hab_ids.push(e.dataItem.habitaciones[i].habitacionID);
            $.ajax({
                       url: '@Url.Action("SubConsulta", "Consulta")',
                       traditional: true,
                       data: { hab_ids: hab_ids, hotel_id : @ViewData["hotelID"]},
                       type: "POST",
                       success: function (data) { document.getElementById("todo").innerHTML = data; },
                       async: false
                   });
                   $("#todo").find("button.btn_quitar").hide();
                   $("#FechaInicio").data("tDatePicker").disable();
                   $("#FechaFin").data("tDatePicker").disable();
        }
     }
     var tamanho = 0;
     function completado(e) {
     console.log("miwi");
         if (e.name == "Anular") {
             var hubo = e.response.devolucion;
             $("#ReservaGrid").data("tGrid").ajaxRequest();
             if(hubo > 0) alert("Hubo una devolucion de " + hubo + " debido a la fecha de anulacion. Puede ver el detalle en el corte de cuenta.");
             else alert("No hubo ninguna devolucion de dinero.");
         } else if (e.name == "Servicios") {
             $("#mantenimiento_servicio_form").load('@Url.Action("IndexServicioReserva", "../AreaConfiguracion/Servicios")' + '?id_reserva=' + e.response.reserva_id);
             $("#ServicioDeReserva").data("tWindow").center().open();
         }
         if (e.name == "AsignarHuespedes")
         {
             $("#mantenimiento_huespedes").load('@Url.Action("habitacionesCliente", "Reserva")' + '?reserva_id=' + e.response.reserva_id);
             $("#AsignarHuespedes").data("tWindow").center().open();

         }
         if(e.name == "insert"){
            var tamanho2 = e.response.data.length;
            if(tamanho2 == null) tamanho2 = 0;
            if(tamanho2 == tamanho) return;
            var id = e.response.data[e.response.data.length - 1].ID;
            $("#cortecuentadiv").load('@Url.Action("CorteDeCuenta", "../AreaContable/Pagos")', {reservaID : id, solo_tarjeta : true});
            $("#Cortecuenta").data("tWindow").center().open();
         }
     }
     function guarda(e){
        tamanho = $("#ReservaGrid").data("tGrid").data.length;
        if(tamanho == null) tamanho = 0;
     }
     function onCommand(e){
        if(e.name == "Anular"){
            if(!confirm("Desea anular la reserva?")){
                e.preventDefault();
            }
        }
     }
</script>


<div class="block big" style="position: relative">
    <!-- Block Begin -->
  
    <div class="block_cont">
   

      @(Html.Telerik().Grid(Model)
        .Name("ReservaGrid")
        .Localizable("pt-BR")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("ReservaViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID)).Footer(false)
        .Columns(columns => columns.Template(@<text>awi</text>))
                                                            .ClientEvents(events =>
                                                            {
                                                                events.OnDataBound("generarCruces");
                                                                events.OnEdit("edita");
                                                                events.OnComplete("completado");
                                                                events.OnSave("guarda");
                                                                events.OnCommand("onCommand");
                                                            })
                                                            .DataBinding(dataBinding => dataBinding
                                                                .Ajax()
                                                                .Select("Select", "Reserva", new { id = 0 })
                                                                .Insert("Insert", "Reserva", new { id = @hotelID })
                                                                .Delete("Delete", "Reserva", new { id_hotel = @hotelID })
                                                                .Update("Update", "Reserva", new { id_hotel = @hotelID })

                                                            )
                                                               )


                        
    </div>
                        
        </p>
    <!-- Table Wrapper End -->
</div>
