@model Era_sphere.Areas.AreaConfiguracion.Models.Cadenas.Cadena

@{
    ViewBag.Title = "Editar detalles de la cadena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Cadena
        </h3>
    </div>

    @using (Html.BeginForm("Edit", "Cadena", FormMethod.Post, new { @class = "form" })) { 
         @Html.ValidationSummary(true)
        <div class="block_cont" id="formCadena">
        
        <!--
            <div id="info_adicional">
            -->
            <div class="small-inner" id="detalle_cadena" style="margin-top: 0px; margin-bottom: 0px;
                width: 930px; position: relative;">
                <div class="titlebar innertitle">
                    <h3>
                        Detalle de la Cadena
                    </h3>
                </div>
                <fieldset>
                <div class="block_cont" id="block_detalle_cadena">
        
       <div> @Html.HiddenFor(model => model.ID) </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.nombreCadena)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.nombreCadena, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.nombreCadena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rsocial)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.rsocial, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.rsocial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ruc)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ruc, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.ruc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.url)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.url, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adel_minimo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.adel_minimo, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.adel_minimo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.d_ant_ret)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.d_ant_ret, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.d_ant_ret)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.porc_ret)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.porc_ret, new { @class = "input tipRight singleInput", })
            @Html.ValidationMessageFor(model => model.porc_ret)
        </div>
        <p>  &nbsp; </p>
                     <p>
                        <input class="submit" type="submit" value="Guardar" />
                    </p>
                </div>
                </fieldset>
            </div>
       <!--
        </div>
        -->

        <div>
    @Html.ActionLink("Volver atrás", "Index")
</div>
        </div>
    }
    
 
  
</div>



