@using Era_sphere.Areas.AreaContable.Models
@using Telerik.Web.Mvc.UI
@model EntregaOCView
@{
    ProveedorView provee = ViewBag.proveedor;
    EntregaOCView eoc = ViewBag.entregaoc;
    OrdenCompraView oc = ViewBag.oc;
    var data_eoc = new { id_eoc = eoc.entregaID };
    var data = new { id_oc=oc.ordenID};
    bool is_edit = ViewBag.is_edit;

}
    <script type="text/javascript">
        $("#formAtencionProducto").submit(function (e) {
            e.preventDefault();
            var id_productof = $("#productoatendido_input").val();
            var cantidadf = $("#cantidadatendida_input").val();
            if (id_productof == "" || cantidadf == "") {
                alert("Ingrese el producto atendido y su cantidad");
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("InsertEOCL", "EntregaOC", @data_eoc)',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ id_productoa: id_productof, cantidada: cantidadf }),
                success: function (result) {
                    if (result.msg != "ok") { alert(result.msg); }
                    else
                        $("#EOCGrid"+'@is_edit').data('tGrid').ajaxRequest();
                    $("#productoatendido_input").data("tComboBox").value("Seleccione un producto a atender");
                    $("#productoatendido_input").data("tComboBox").reload();

                }
            });
        })        
    </script>

    <script type="text/javascript">

        function onCompleteEOCL(e) {
            if (e.name == "update" || e.name == "delete") {
                var res = e.response;
                if (res.msg != "ok" && e.name == "update") { alert(res.msg); }
                $("#EOCGrid"+'@is_edit').data('tGrid').rebind();
                $("#productoatendido_input").data("tComboBox").value("Seleccione un producto a atender");
                $("#productoatendido_input").data("tComboBox").reload();
            }
        }
        $("#aceptar").click(function () { cerrar_ventana_entrega(); })
        $("#registrar").click(function () {
            cerrar_ventana_entrega();
        });
        $("#eliminar").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteEOC", "EntregaOC", @data_eoc)',
                contentType: 'application/json',
                dataType: 'json'
            });

            cerrar_ventana_entrega();
        });

        $("#cerrar").click(function () { cerrar_ventana_entrega(); })
                function cerrar_ventana_entrega() {
            try { $("#mantenimientoEOC").data('tWindow').close(); } catch (e) { }
            try { $("#EOCGrid"+'@is_edit').data("tGrid").ajaxRequest(); } catch (e) { }
            try { $("#ResumenEntrega").data("tGrid").ajaxRequest(); } catch (e) { }
            try { $("#popupEntrega").data('tWindow').close(); } catch (e) { }
            try { $("#AceptadasGrid").data('tGrid').ajaxRequest(); } catch (e) { }
        }
    </script>

<div id="popupEOC">
    <ul>
        <li>
            <label>Numero de Entrega de Orden de Compra: @eoc.entregaID</label>
            
        </li>
        <li>
            <label>Orden de Compra: @oc.ordenID</label>
        </li>
        <li>
            <label>Proveedor:</label>
            <span>@provee.razon_social</span>
        </li>
    </ul>
    <form id="formAtencionProducto" class="form" action="#">
        <label>Producto: [Nombre del producto|cantidad pedida|cantidad pedida]</label>
        @(Html.Telerik()
              .ComboBox()
              .Name("productoatendido_input")
              .DataBinding(bind => bind.Ajax()
                  .Select("LineaOCRestante", "EntregaOC", @data))
              .Placeholder("Seleccione un producto a atender")
              .DropDownHtmlAttributes(new { style = "width:500px" })
              .HtmlAttributes(new { style = "width:500px"})
         )  
        <label>Cantidad atendida: 
        @(Html.Telerik()
              .IntegerTextBox()
              .Value(1)
              .MinValue(1)
              .Spinners(true)
              .Name("cantidadatendida_input")
         )
         </label>
        <span style="margin: 2px">
        <input type="submit" class="t-button t-state-default submit" id="agregar_producto"
        value="Agregar Producto Atendido" style="margin: 10px;" />        
    </span>
    </form>

    @(Html.Telerik().Grid<EOCLineaView>()
        .Name("EOCGrid"+@is_edit)
        .DataKeys(d => d.Add(p => p.ID))
        .Columns(columns =>
        {
            columns.Bound(e => e.productoID).Width(10).ReadOnly(true).Title("Id");
            columns.Bound(e => e.producto).Width(250).ReadOnly(true).Title("Producto");
            columns.Bound(e => e.cantidad).Width(50).Title("Entregado");
            columns.Bound(e => e.unidad_medida);
            columns.Bound(o => o.precio_unitario).Width(50).ReadOnly(true).Title("PU");
            columns.Bound(o => o.precio_total).Format("{0:c}").Width(120).ReadOnly(true).Title("Total")
                .Aggregate(aggregates => aggregates.Sum())
                .ClientFooterTemplate("Total: <#= $.telerik.formatString('{0:c}', Sum) #>"); 
           columns.Command(command =>
            {
                command.Delete().ButtonType(GridButtonType.Image);
                command.Edit().ButtonType(GridButtonType.Image);
            });
        })
        .ClientEvents(e => e.OnComplete("onCompleteEOCL")) 
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("SelectEOCL", "EntregaOC", @data_eoc)
            .Delete("DeleteEOCL", "EntregaOC")
            .Update("UpdateEOCL", "EntregaOC")
        )

    )

    <span class="form">
     @if (is_edit == false)
     {
        <button id="registrar" class="t-button t-state-default submit" style="float: right;
            margin-top: 10px; margin-bottom: 10px;">
            Registrar
        </button>
        <button id="eliminar" class="t-button t-state-default submit" style="float: right;
            margin-right: 10px; margin-top: 10px">
            Cancelar
        </button>
     }
     else
     {
        <button id="cerrar" class="t-button t-state-default submit" style="float: right;
            margin-right: 10px; margin-top: 10px">
            Aceptar
        </button>
     }
    </span>
    

</div>