@using Era_sphere.Areas.AreaClientes.Models
@model Cliente
@{
    ViewBag.Title = "FacturaCliente";
}

@if (Model.tipoID == 1)
{
<div class="editor-label"> @Html.LabelFor(model => model.nombre) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.nombre) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.apellido_paterno) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.apellido_paterno) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.apellido_materno) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.apellido_materno) </div>
}
else
{
    <div class="editor-label"> @Html.LabelFor(model => model.razon_social) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.razon_social) </div>
}


    <br />
    <div class="editor-label"> Ruc:</div>
    <div class="editor-label"> @Html.DisplayFor(model => model.ruc) </div>
    <br />
    <div class="editor-label"> @Html.LabelFor(model => model.puntos_cliente) </div>
    <div class="editor-label"> @Html.DisplayFor(model => model.puntos_cliente) </div>
    <br />