@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Era_sphere.Areas.AreaReservas.Models;
@using Telerik.Web.Mvc.UI
@model HabitacionXReservaXClienteView
@{
    ViewBag.Title = "Asignar Huespeded a Habitacion Reservada";
    var habitaciones = (new EraSphereContext()).habitaciones.ToList();
    LogicaReserva logica = new LogicaReserva();
    var habitacionReserva = logica.habitacionesDeReserva(Model.reservaID);
    var clientes = (new EraSphereContext()).clientes.ToList();
    //asi funciono con las consultas >.<
    
   // var ciudades = (new EraSphereContext()).ciudades.ToList();
   // var estados = (new EraSphereContext()).estados_cliente.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    var hab_id = 0;
    var reserva_id = @Model.reservaID;
    function cambioHabitacion(e) {
        var id = hab_id = parseInt(e.value);
        var num_camas = 0, capacidad = 0;
        if (e.id != 0) {
            $.ajax({
                url: '@Url.Action("ObtieneDatosHabitacion", "Reserva")',
                traditional: true,
                data: { habitacion_id: id },
                type: "POST",
                success: function (data) { num_camas = data.num_camas; capacidad = data.capacidad; },
                async: false
            });
        }
        $("#numero_camas").val(num_camas);
        $("#huespedes_acuales").val(capacidad);
    }
    function agregarHuesped() {
        if(hab_id == 0)
            alert("Seleccione una habitacion valida");
        var huesped_raw = $("#huesped_autocompletar").data("tAutoComplete").value();
        $.ajax({
            url: '@Url.Action("ObtieneDatosCliente", "../AreaClientes/Cliente")',
            data: { cliente_raw: huesped_raw },
            type: "POST",
            success: function (data) {
                id_cliente = data.id;
                if(id_cliente == 0) alert("Ingrese un cliente valido");
                else $.ajax({
                    url: '@Url.Action("InsertClienteHabitacion", "Reserva")',
                    data: {id_cliente : id_cliente, id_reserva: reserva_id, id_habitacion: hab_id},
                    type: "POST",
                    success: function(response){$("#clientesHabitacionGrid").data("tGrid").ajaxRequest();}        
                }); 
            },
        });
    }
    function onDelete(e){
        e.values.id_reserva = @Model.reservaID;
        e.values.id_cliente = e.dataItem.clienteID;
        e.values.id_habitacion = e.dataItem.habitacionID; 
    }
</script>
<div class="block big" style="position: relative">
    <!-- Block Begin
    
     -->
    
    <div class="titlebar">
        <h3>
           Asignar Huespeded a Habitacion Reservada
        </h3>
    </div>

    <fieldset>

     <div class="editor-label">
                <label> Habitación </label>
                </div>
                @( Html.Telerik().ComboBox()
                    .Name("habitacionID")
                    .BindTo(new SelectList(habitacionReserva, "ID", "detalle")).Placeholder("Seleccione...").SelectedIndex(0)
                    .SelectedIndex(0).ClientEvents(events => events.OnChange("cambioHabitacion"))
                )
        
        
        <div class="editor-label"> @Html.Label("Número camas") </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.numero_camas,new {@readonly = "readonly"})
        </div>
        
        <div class="editor-label"> @Html.Label("Capacidad") </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.huespedes_actuales,new {@readonly = "readonly"})
        </div>
    
    
    </fieldset>
     
     <div class="editor-label">
        <button id="mostrar-mant-cliente" class="t-button t-state-default" onclick="showMantCliente();">
               Ir a mantenimiento de clientes
        </button>
     
     </div>

      <div class="editor-label">
            @Html.Label("Cliente")
     
     </div>
    

            <fieldset>
    
                <div class="editor-label">
                    @(Html.Telerik().AutoComplete()
                    .Name("huesped_autocompletar")
                    .DataBinding(binding => binding.Ajax().Select("DameClientesNatural", "../AreaClientes/Cliente"))
                    .HighlightFirstMatch(true)
                            .AutoFill(true).HtmlAttributes(new { style = "width:300px" }).Filterable(filter => filter.FilterMode(AutoCompleteFilterMode.Contains))
                    )

                </div>
            </fieldset>


     <div class="editor-label">
        <button id="agregar_huesped" class="t-button t-state-default" onclick="agregarHuesped();">
               Agregar
        </button>
     
     </div>
    
       



        @(Html.Telerik().Grid(Model.lista_clientes_habitacion)
        .Name("clientesHabitacionGrid")
        .Localizable("es-ES")

                                                .DataKeys(key => { key.Add(c => c.habitacionID); key.Add(c => c.clienteID); })
        
        .Columns(columns =>
        {
            columns.ForeignKey(p => p.habitacionID, new SelectList(habitaciones, "ID", "detalle")).Title(@"Número de habitacion");
            columns.ForeignKey(p => p.clienteID, new SelectList(clientes, "ID", "nombre")).Title("Nombre");
            columns.ForeignKey(p => p.clienteID2, new SelectList(clientes, "ID", "apellido_paterno")).Title("Apellido Paterno");
            columns.ForeignKey(p => p.clienteID3, new SelectList(clientes, "ID", "apellido_materno")).Title("Apellido Materno");
            columns.Command(commands => commands.Delete());
            
        })
        .ClientEvents(events => events.OnDelete("onDelete"))
        .Pageable()
        .Sortable()
        .DataBinding(dataBinding => dataBinding
        .Ajax()
        .Select("SelectClienteHabitacion", "Reserva", new { id_reserva = Model.reservaID })
        .Delete("DeleteClienteHabitacion", "Reserva")                                                      

                                                            )
             
        )
           

    </div>


   
    <!-- Table Wrapper End -->


     @(Html.Telerik().Window().Name("MostrarMantCliente")
        .Title("Mantenimiento de Clientes").Content(
            @<text>
                <div id="mant-cliente-div"></div>
            </text>
        )
            .Modal(true)
            .Visible(false)
            .Width(700).Resizable().Draggable(true).Height(600))
<script type="text/javascript">
    function showMantCliente() {
        $("#mant-cliente-div").load('@Url.Action("IndexPartial", "../AreaClientes/Cliente")');
        var detailModal = $("#MostrarMantCliente").data("tWindow");
        detailModal.center().open();
    }
</script>