@model Era_sphere.Areas.AreaClientes.Models.Cliente
@using Era_sphere.Areas.AreaClientes.Models
@using Era_sphere.Generics;
@{
    ViewBag.Title = "ViewPage1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paises = new SelectList(ViewBag.paises, "ID", "nombre");
}
<div class="block big" style="position: relative">
    <div class="titlebar">
        <h3>
            Administracion de Cliente</h3>
    </div>
    <div class="form_row">
        <label>
            Tipo de cliente
        </label>
        <select name="tipo_cliente" id="tipo_cliente" class="select">
            <option value="none">- </option>
            <option value="natural"> Persona natural</option>
            <option value="juridico">Persona juridica</option>
        </select>
    </div>
    <div class="block_cont">
        <div id="cliente_natural_form" style="display: none">
            @using (Html.BeginForm("Create", "Cliente", FormMethod.Post, new { @class = "form" }))
            {
                <div id="datos_personales_natural">
                    <div class="titlebar innertitle">
                        <h3>Datos Personales</h3>
                    </div>
                    <div class="block_cont">
                        <div class="form_row">
                            @Html.LabelFor(model => model.nombre)
                            @Html.TextBoxFor(model => model.nombre, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.apellido_paterno)
                            @Html.TextBoxFor(model => model.apellido_paterno, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.apellido_materno)
                            @Html.TextBoxFor(model => model.apellido_materno, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.fecha_nacimiento)
                            @Html.TextBoxFor(model => model.fecha_nacimiento, new { @class = "input tipTop singleInput fecha" })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.paisID)
                            @Html.DropDownList("pais", paises)
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.ciudad)
                            <input class="input tipRight" type="text" style="width: 300px;" name="ciudad" id="ciudad" />
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.direccion)
                            @Html.TextBoxFor(model => model.direccion, new { @class = "input tipRight singleInputLarge", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.correo_electronico)
                            @Html.TextBoxFor(model => model.correo_electronico, new { @class = "input tipRight singleInputLarge", })
                        </div>
                        <div id="right_form_natural">
                            <div id="natural_foto">
                                <label>
                                    Foto
                                </label>
                                <img src="#" alt="exm" height="150" width="150" />
                            </div>
                            <div id="natural_div_extra">
                                <div class="form_row">
                                    @Html.LabelFor(model => model.ruc)
                                    @Html.TextBoxFor(model => model.ruc, new { @class = "input tipRight singleInput", })
                                </div>
                                <div class="form_row">
                                    @Html.LabelFor(model => model.dni)
                                    @Html.TextBoxFor(model => model.dni, new { @class = "input tipRight singleInput", })
                                </div>
                                <div class="form_row">
                                    @Html.LabelFor(model => model.pasaporte)
                                    @Html.TextBoxFor(model => model.pasaporte, new { @class = "input tipRight singleInput", })
                                </div>
                                <div class="form_row">
                                    @Html.LabelFor(model => model.telefono)
                                    @Html.TextBoxFor(model => model.telefono, new { @class = "input tipRight singleInput", })
                                </div>
                                <div class="form_row">
                                    @Html.LabelFor(model => model.celular)
                                    @Html.TextBoxFor(model => model.celular, new { @class = "input tipRight singleInput", })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_adicional">
                    <div class="small-inner" class="detalle_cliente" style="margin-top: 10px;">
                        <div class="titlebar innertitle">
                            <h3>
                                Detalle del Cliente</h3>
                        </div>
                        <div class="block_cont">
                            <div class="form_row" id="estado_cliente">
                                @Html.LabelFor(model => model.estado)
                                @Html.DropDownListFor(model => model.estado, new SelectList(Enum.GetValues(typeof(Cliente.EstadoCliente))), new { @class = "select" })
                            </div>
                            <div class="form_row">
                                <label>
                                    Reservas Historicas
                                </label>
                                <input name="reservas_historicas" type="text" class="input" readonly="readonly" style="width: 300px" />
                            </div>
                        </div>
                    </div>
                    <div class="small-inner cuenta_usuario" style="margin-top: 10px; width: 400px">
                        <div class="titlebar innertitle">
                            <h3>
                                Cuenta de usuario</h3>
                        </div>
                        <div class="block_cont">
                            <div class="form_row">
                                @Html.LabelFor(model => model.usuario)
                                @Html.TextBoxFor(model => model.usuario, new { @class = "input tipRight singleInput", })
                            </div>
                            <div class="form_row">
                                @Html.LabelFor(model => model.password)
                                @Html.TextBoxFor(model => model.password, new { @class = "input password tipRight singleInput", })
                            </div>
                            <div class="form_row">
                                @Html.LabelFor(model => model.tarjeta_cliente)
                                @Html.TextBoxFor(model => model.tarjeta_cliente, new { @class = "input tipRight singleInput", })
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: relative; top: -40px; height: 20px">
                    <div class="form_row">
                        <input type="submit" class="submit" value="Aceptar" />
                    </div>
                    <div class="form_row" style="position: relative; left: 70px; top: -42px">
                        <input type="reset" class="submit" value="Cancelar" />
                    </div>
                    }
                </div>
            }
        </div>
        <div id="cliente_juridico_form" style="display: none">
            @using (Html.BeginForm("Create", "Cliente", FormMethod.Post, new { @class = "form" }))
            {
               
                <div id="datos_personales_juridico">
                    <div class="titlebar innertitle">
                        <h3>
                            Datos Personales</h3>
                    </div>
                    <div class="block_cont">
                        
                        <div class="form_row">
                            @Html.LabelFor(model => model.razon_social)
                            @Html.TextBoxFor(model => model.razon_social, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.ruc)
                            @Html.TextBoxFor(model => model.ruc, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.pais)
                            @Html.TextBoxFor(model => model.pais, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.ciudad)
                            @Html.TextBoxFor(model => model.ciudad, new { @class = "input validate[required] tipRight singleInput", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.direccion)
                            @Html.TextBoxFor(model => model.direccion, new { @class = "input tipRight singleInputLarge", })
                        </div>
                        <div class="form_row">
                            @Html.LabelFor(model => model.correo_electronico)
                            @Html.TextBoxFor(model => model.correo_electronico, new { @class = "input tipRight singleInputLarge", })
                        </div>
                        <div id="right_form_juridico">
                            <div id="juridico_foto">
                                <label>
                                    Foto:
                                </label>
                                <img src="#" alt="exm" height="150" width="150" />
                            </div>
                            <div id="juridico_div_extra">
                                <div class="form_row">
                                    @Html.LabelFor(model => model.telefono)
                                    @Html.TextBoxFor(model => model.telefono, new { @class = "input tipRight singleInput", })
                                </div>
                                <div class="form_row">
                                    @Html.LabelFor(model => model.celular)
                                    @Html.TextBoxFor(model => model.celular, new { @class = "input tipRight singleInput", })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="info_adicional">
                    <div class="small-inner" id="detalle_cliente" style="margin-top: 10px;">
                        <div class="titlebar innertitle">
                            <h3>
                                Detalle del Cliente</h3>
                        </div>
                        <div class="block_cont">
                            <div class="form_row">
                                @Html.LabelFor(model => model.estado)
                                @Html.DropDownListFor(model => model.estado, new SelectList(Enum.GetValues(typeof(Cliente.EstadoCliente))), new { @class = "select" })
                            </div>
                            <div class="form_row">
                                <label>
                                    Reservas Historicas
                                </label>
                                <input type="text" class="input" readonly="readonly" style="width: 300px" />
                            </div>
                        </div>
                    </div>
                    <div class="small-inner" id="cuenta_usuario" style="margin-top: 10px; width: 400px">
                        <div class="titlebar innertitle">
                            <h3>
                                Cuenta de usuario</h3>
                        </div>
                        <div class="block_cont">
                            <div class="form_row">
                                @Html.LabelFor(model => model.usuario)
                                @Html.TextBoxFor(model => model.usuario, new { @class = "input tipRight singleInput", })
                            </div>
                            <div class="form_row">
                                @Html.LabelFor(model => model.password)
                                @Html.TextBoxFor(model => model.password, new { @class = "input password tipRight singleInput", })
                            </div>
                            <div class="form_row">
                                @Html.LabelFor(model => model.tarjeta_cliente)
                                @Html.TextBoxFor(model => model.tarjeta_cliente, new { @class = "input tipRight singleInput", })
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: relative; top: -40px; height: 20px">
                    <div class="form_row">
                        <input type="submit" class="submit" value="Aceptar" />
                    </div>
                    <div class="form_row" style="position: relative; left: 70px; top: -42px">
                        <input type="reset" class="submit" value="Cancelar" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
