@model TelerikMvc_Orden.Areas.AreaContabilidad.Models.Ordenes.proveedor_x_producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>proveedor_x_producto</legend>

    <div class="display-label">producto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.producto.descripcion)
    </div>

    <div class="display-label">proveedor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proveedor.descripcion)
    </div>

    <div class="display-label">precioU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precioU)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
