@model Era_sphere.Areas.AreaConfiguracion.Models.Cadenas.Cadena
@using Era_sphere.Generics;
@{
    ViewBag.Title = "Cadenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
  //  int nc = new LogicaCadena().retornarCadenas().Count; 
}
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Cadena
        </h3>
    </div>
    
       <div class="small-inner" id="detalle_cadena" style="margin-top: 0px; margin-bottom: 0px;
                    width: 930px; position: relative;">
                    <div class="titlebar innertitle">
                        <h3>
                            Detalle de la Cadena
                        </h3>
                    </div>
                    <fieldset>
                    <div class="block_cont" id="block_detalle_cadena">
        <div class="display-label" style="font-size: 14pt"><u>Información de la cadena</u></div>
        <p></p>
        <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.nombreCadena)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.nombreCadena)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.rsocial)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.rsocial)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.ruc)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.ruc)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.url)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.url)
            </div>
            <p>

       <div class="display-label" style="font-size: 14pt"><u>Política de la cadena</u></div>
        <p></p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.adel_minimo)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.adel_minimo)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.d_ant_ret)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.d_ant_ret)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.porc_ret)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.porc_ret)
            </div>
            <p>

            <div class="display-label" style="font-size: 11pt">@Html.LabelFor(model => model.ptos_x_dolar)</div>
            <p>
            <div class="display-field">
                @Html.DisplayFor(model => model.ptos_x_dolar)
            </div>
            <p>


            <p>


            <a href = "Cadena/Edit" button class="x-button" >Editar </a>     
                    </div>
                    </fieldset>
    

                    
                </div>
                                

              <!-- Table Wrapper End -->
</div>
