@model Era_sphere.Areas.AreaEventos.Models.Evento.EventoView
@using Telerik.Web.Mvc.UI;
@using Era_sphere.Areas.AreaEventos.Models.Evento;
@{  
    ViewBag.Title = "EventoViewTemplate";
    /*@using (Html.BeginForm())
    {*/    
    
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



    @Html.ValidationSummary(true)
    <fieldset>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
      
      
        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_inicio)
        </div>
        <div>
            @(Html.Telerik().DateTimePicker()
                    .Name("fecha_inicio")
                    .HtmlAttributes(new { id = "DateTimePicker_wrapper" })
                    .Interval(30)
                    .Value(DateTime.Now)
                    .Min(DateTime.Now)
             )
        </div>

        @*@{Html.Telerik().Window().Name("MostrarDetalleNaturalPopup")
        .Title("Buscar cliente").LoadContentFrom("Prueba", "Evento", new {id = 1})
            .Modal(true)
            .Visible(false)
            .Width(300).Resizable().Draggable(true).Width(600).Height(300).Render();}

        <button id="mostrar-detalle" class="t-button t-state-default" onclick="$('#MostrarDetalleNaturalPopup').data('tWindow').center().open();">
            Mostrar consumo
        </button>*@

        <p>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#result').load('@Url.Action("BuscarCliente", "Evento")');
        });
    </script>
    </p>
    <div id="result">
    </div> 

    </fieldset>