@model Era_sphere.Areas.AreaClientes.Models.ClienteNaturalView
@using Era_sphere.Generics
@using Era_sphere.Areas.AreaClientes.Models
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "ClienteNaturalViewTemplate";
    EraSphereContext context = new EraSphereContext();
    var paises = (new EraSphereContext()).paises.ToList();
    var ciudades = (new EraSphereContext()).ciudades.ToList();
    var estados = (new EraSphereContext()).estados_cliente.ToList();
    var tipos_documento = new List<TipoDocumentoCliente>();
    tipos_documento.Add(context.tipos_documento.Find(1));
    tipos_documento.Add(context.tipos_documento.Find(2));
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true);
    <fieldset>

        <legend>Cliente Natural</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.apellido_paterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellido_paterno)
            @Html.ValidationMessageFor(model => model.apellido_paterno)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.apellido_materno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellido_materno)
            @Html.ValidationMessageFor(model => model.apellido_materno)
        </div>
         
        <div class="editor-label">
            @Html.LabelFor(model => model.ruc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ruc)
            @Html.ValidationMessageFor(model => model.ruc)
        </div>

         <div class="editor-label"> @Html.LabelFor(model => model.id_tipo_documento) </div>
            @( Html.Telerik().ComboBox()
                    .Name("id_tipo_documento")
                    .BindTo(new SelectList(tipos_documento, "ID", "descripcion")).SelectedIndex(0)
                )

        <div class="editor-label">
            @Html.LabelFor(model => model.documento_identidad)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.documento_identidad)
            @Html.ValidationMessageFor(model => model.documento_identidad)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_nacimiento)
        </div>
        
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.fecha_nacimiento)
        </div>
        
        <div class="editor-label"> @Html.LabelFor(model => model.paisID) </div>
          
        @( Html.Telerik().ComboBox()
                    .Name("paisID")
                    .BindTo(new SelectList(paises, "ID", "nombre")).SelectedIndex(0)
                )
         
           <div class="editor-label"> @Html.LabelFor(model => model.ciudadID) </div>
        @( Html.Telerik().ComboBox()
                    .Name("ciudadID")
                    .BindTo(new SelectList(ciudades, "ID", "nombre")).SelectedIndex(0)
                )

         <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.celular)
            @Html.ValidationMessageFor(model => model.celular)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.direccion)
            @Html.ValidationMessageFor(model => model.direccion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.correo_electronico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.correo_electronico)
            @Html.ValidationMessageFor(model => model.correo_electronico)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.id_estado)
        </div>
          @( Html.Telerik().ComboBox()
                    .Name("id_estado")
                    .BindTo(new SelectList(estados, "ID", "descripcion")).SelectedIndex(0)
                )
                 
        <div class="editor-label">
            @Html.LabelFor(model => model.habitacion_asignada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.habitacion_asignada)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuario)
            @Html.ValidationMessageFor(model => model.usuario)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.contrasenha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.contrasenha)
            @Html.ValidationMessageFor(model => model.contrasenha)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.tarjeta_cliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tarjeta_cliente)
            @Html.ValidationMessageFor(model => model.tarjeta_cliente)
        </div>
       
    </fieldset>
}