@using Era_sphere.Areas.AreaHoteles.Models
@using Telerik.Web.Mvc.UI
@using Era_sphere.Generics
@model Era_sphere.Areas.AreaHoteles.Models.HabitacionView
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "HabitacionViewTemplate";
    var tiposHabitacion = (new LogicaTipoHabitacion()).retornarTiposHabitacion();
    var estados = (new EraSphereContext()).estado_espacio_rentable.ToList();
    // name='checkedRecords' value='<#= ID #>' 
    var id_hotel = ViewData["id_hotel"];
    var hotel = (new EraSphereContext()).hoteles.Find(id_hotel);
    var pisos = hotel.lista_pisos;
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.detalle)
        </div>
        <div class="form_row">
           
            @Html.EditorFor(model => model.detalle)
            @Html.ValidationMessageFor(model => model.detalle)
        </div>
        <div class="editor-field">
            <p>
                <label for="ComboBox_Categories-input">
                    Tipos habitacion:</label>
                @( Html.Telerik().ComboBox()
                    .Name("tipoHabitacionID")
                    .BindTo(new SelectList(tiposHabitacion, "ID", "descripcion"))
                    .Placeholder("Seleccione")
                    .SelectedIndex(0)
                )
            </p>

            <p>
                <label> Piso de Hotel : </label>
                @( Html.Telerik().ComboBox()
                    .Name("pisoID")
                    .BindTo(new SelectList(pisos , "ID" , "descripcion"))
                    .Placeholder("Seleccione Piso")
                )
            </p>
            <p>

                <label> Estado Habitacion : </label>
                @( Html.Telerik().ComboBox()
                    .Name("estado_habitacionID")
                    .BindTo(new SelectList(estados, "ID", "descripcion"))
                    .Placeholder("Seleccione Estado")
                    .SelectedIndex(0)
                )
            </p>
        </div>
        <!-- tipo habitacion -->

       @* @(Html.Telerik().Grid(tiposHabitacion)
        .Name("tipo_habit")
        .Columns(columns =>
        {
            columns.Bound(o => o.ID)
                      .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= ID #>' />")
                      .Title("Check")
                      .Width(36);

            columns.Bound(o => o.ID).Width(20);
            columns.Bound(o => o.descripcion).Width(100);
            columns.Bound(o => o.cap_max_personas).Width(50);
        })
        .Footer(false)
        )*@
    </fieldset>

}