@using Era_sphere.Areas.AreaHoteles.Models
@using Telerik.Web.Mvc.UI
@model Era_sphere.Areas.AreaHoteles.Models.HabitacionView
@{
    ViewBag.Title = "HabitacionViewTemplate";
    var tiposHabitacion = (new LogicaTipoHabitacion()).retornarTiposHabitacion();
    // name='checkedRecords' value='<#= ID #>' 
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detalle)
            @Html.ValidationMessageFor(model => model.detalle)
        </div>
        <div class="editor-field">
            <p>
                <label for="ComboBox_Categories-input">
                    Tipos habitacion:</label>
                @( Html.Telerik().ComboBox()
                    .Name("tipoHabitacionID")                    
                    .BindTo(new SelectList(tiposHabitacion, "ID", "descripcion"))
                    .Placeholder("Seleccione")
                    .SelectedIndex(0)
                )
            </p>
        </div>
        <!-- tipo habitacion -->

        @(Html.Telerik().Grid(tiposHabitacion)
        .Name("GG")
        .Columns(columns =>
        {
            columns.Bound(o => o.ID)
                      .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= ID #>' />")
                      .Title("Check")
                      .Width(36);

            columns.Bound(o => o.ID).Width(20);
            columns.Bound(o => o.descripcion).Width(100);
            columns.Bound(o => o.cap_max_personas).Width(50);
        })
        .Footer(false)
        )
    </fieldset>

}