@model Era_sphere.Areas.AreaHoteles.Models.HotelXProductoNM.HotelXProductoView
@using Era_sphere.Areas.AreaConfiguracion.Models.Temporada;
@using Era_sphere.Areas.AreaHoteles.Models.HotelXProductoNM
@using Era_sphere.Areas.AreaContable.Models;
@using Era_sphere.Areas.AreaConfiguracion.Models.Fiscal;
@using Telerik.Web.Mvc.UI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    List<Producto> ps = (new LogicaProducto()).retornarProductos2();
    List<Moneda> mns = (new LogicaMoneda()).retornarMonedas2();
}
@using (Html.BeginForm())
{
   
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.productoID)
        </div>
        @( Html.Telerik().DropDownList()
                    .Name("productoID")
                    .BindTo(new SelectList(ps,"ID","descripcion"))
                    .Placeholder("Seleccione...")
               )

        <div class="editor-label">
            @Html.LabelFor(model => model.monedaID)
        </div>
        @( Html.Telerik().DropDownList()
                    .Name("monedaID")
                    .BindTo(new SelectList(mns, "ID", "simbolo"))
                    .Placeholder("Seleccione...")
                )

        <div class="editor-label">
            @Html.LabelFor(model => model.precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precio)
            @Html.ValidationMessageFor(model => model.precio)
        </div>

    </fieldset>
}