﻿@using Era_sphere.Areas.AreaReportes.Models.ReportePromocion;
   @model List<ReportePromocion>
   <br />
   <table cellpadding="3" cellspacing="3">
       <tr border="1" bgcolor="#777777" color="#ffffff">
           <td width="50%" align="center">
              Nombre
           </td>
           <td width="50%" align="center">
              Descripcion
          </td>
          <td width="40%" align="center">
              Puntos requeridos
          </td>          
          <td width="40%" align="center">
              Descuento
          </td>
          <td width="40%" align="center">
              Fecha de inicio
          </td>
          <td width="40%" align="center">
              Fecha de fin
          </td>
          <td width="40%" align="center">
              Asociado a
          </td>
      </tr>
      @{
           var OddColor = "#DDEEEE";
           var evenColor = "#EEFFFF";
           var Odd = OddColor;
       }
       @foreach (ReportePromocion rp in Model)
       {
           string format = "dd/MM/yyyy";
           
           <tr border="1" bgcolor="@Odd">
               <td align="center">@rp.nombre
               </td>
               <td align="center">@rp.descripcion
               </td>
               <td align="center">@rp.puntos_requeridos
               </td>
               <td align="center">@rp.descuento %
               </td>
               <td align="center">@rp.fecha_inicio.ToString(format)
               </td>
               <td align="center">@rp.fecha_fin.ToString(format)
               </td>
               <td align="center">@rp.relacionpromocion
               </td>
           </tr>
           if (Odd == OddColor)
           {
               Odd = evenColor;
           }
           else
           {
               Odd = OddColor;
           }
   
       }
   </table>