@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html lang="en">
<head>
<title>Era Sphere</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/ui/jquery-ui-1.8.17.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery.corner.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/css_browser_selector.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery.jqplot.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/plugins/jqplot.highlighter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/plugins/jqplot.cursor.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/plugins/jqplot.dateAxisRenderer.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/plugins/jqplot.pieRenderer.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/plugins/jqplot.barRenderer.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/editor/jquery.cleditor.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/calendar/fullcalendar.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery.multiselect.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/tooltip/jquery.tipsy.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/validation/jquery.validationEngine.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/validation/languages/jquery.validationEngine-es.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/fancybox/jquery.fancybox-1.3.4.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/fancybox/jquery.easing-1.4.pack.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/data/js/js.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ApiCliente/mantenimiento_cliente.js")"></script>

@(Html.Telerik().ScriptRegistrar())
<script type="text/javascript" src="@Url.Content("~/Content/data/js/seguridad/navegacion.js")"></script>
 @{ Html.Telerik().ScriptRegistrar().Globalization(true);}

<link rel="stylesheet" href="@Url.Content("~/Content/data/css/era-style.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/data/css/grid.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/data/css/reset.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/data/css/style.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/data/css/telerik.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/data/js/plugins.css")" type="text/css" />



@( Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(group => group.Add("telerik.common.css")
                                    .Add("telerik.vista.css"))
)

</head>
<body>

	<div id="main" class="container_12"><!-- Body Wrapper Begin -->
		<div id="header"><!-- Header Begin -->
			<div class="grid_3"><a href="#" id="logo" class="float_left" style="width: 300px; height: 55px; margin-left: 5px;" >ERA Sphere</a></div>
			<div class="grid_4 push_5">
				<div id="search"><!-- Header Search Begin -->
					<input type="text" placeholder="Search.." id="searchinput" name="search" />
					<input type="submit" id="searchbutton" name="search" />
				</div><!-- Header Search End -->
			</div>
		</div><!-- Header End -->
		<div class="clear"></div>
		

      
        <div id="userbar">
		  <!-- Userbar	
            <div id="profile">
				<div id="avatar">
					<img src="@Url.Content("~/Content/img/test_avatar.png")" alt="Avatar" height="44" />
					<a href="#" id="unreadcount">12</a>
				</div>
				<div id="profileinfo">
					<h3 id="username">Administrador</h3>
					<span id="subline">192.168.1.100</span>
					<div class="clear"></div>
					<a href="#" class="profilebutton">Profile</a>
					<a href="#" class="profilebutton">Logout</a>
				</div>
			</div>
            -->
			<ul id="navigation">
            <!--
				<li><a href="#" id = "usuarios-2" class="icon_users">Usuarios</a>
					<ul>
						<li><a id = "u1" href="#">Mantenimiento</a></li>
                        <li><a id = "u2" href="#">Reportes</a></li>
					</ul>
				</li>
				<li><a href="#" id = "clientes-2" class="icon_email">Clientes</a>
                    <ul>
						<li><a id = "c1" href="#">Mantenimiento</a></li>
						<li><a id = "c2" href="#">Reportes</a></li>
					</ul>
                </li>

                <li><a href="#" class="icon_email">Ventas</a>
                    <ul>
						<li><a href="#">Mantenimiento</a></li>
						<li><a href="#">Reportes</a></li>
					</ul>
                </li>

                <li><a href="#" class="icon_email">Empleados</a>
                    <ul>
						<li><a href="#">Mantenimiento</a></li>
						<li><a href="#">Reportes</a></li>
					</ul>
                </li>
	
				<li><a href="#" class="icon_logout">Logout</a></li>
			</ul>
            -->
		</div>

		<div class="clear"></div>
		<div id="body">
			@RenderBody()
	</div><!-- Body Wrapper End -->
    
   
    
    </div>
    
 
</body>
</html>