@using Era_sphere.Generics;
@model IEnumerable<Era_sphere.Areas.AreaEventos.Models.EventoXAmbiente.EventoXAmbienteView>
@using Telerik.Web.Mvc.UI


@{
    //$('#inf').load('@Url.Action("retornarAmbiente", "../AreaHoteles/Ambiente")',{ ambienteID: ambienteIDt});
    ViewBag.Title = "EventoXAmbiente";
    var idEvento = ViewBag.idevento;
    var idHotel = ViewBag.idHotel;
    ViewBag.idHotel =idHotel;

}

<div class="block big">
    <!-- Block Begin -->
    <div class="block_cont">
        <div>
<form id="form_ambiente" action="#" class="form">

            <div>
                <label> Fecha hora inicio</label>
                @(Html.Telerik().DateTimePicker()
                    .Name("fecha_hora_inicio")
                    .Min(DateTime.Now)
                    .ClientEvents(events => events.OnChange("Prueba"))
                    .Interval(60)
                    
                 )
              <span class="error_fecha_inicio error" style="display:none;background:red ; color:white">
                    Seleccione fecha inicio
              </span>
            </div>
            <div>
                <label> Fecha hora fin </label>
                @(Html.Telerik().DateTimePicker()
                    .Name("fecha_hora_fin")
                    .ClientEvents(events => events.OnChange("Prueba"))
                    .Interval(60)
                    .Min(DateTime.Now)
                    
                 )

              <span class="error_fecha_fin error" style="display:none;background:red ; color:white">
                    Seleccione fecha fin
              </span>
   
            </div>
            
             <table>
             <tr>
                <td> <div id="traer"> </div> </td>
                <td> <div id="inf"> </div></td>
             </tr>
            </table>
            
    </form>
</div>
            <p>
                
    <script type="text/javascript">

        function Prueba() {
            var fecha_hora_fint = $("#fecha_hora_fin").val();
            var fecha_hora_iniciot = $("#fecha_hora_inicio").val();
            
            if(fecha_hora_fint!="" && fecha_hora_iniciot!="") 
            $('#traer').load('@Url.Action("CargarAmbientes", "Evento", new { idEvento = idEvento })', { fecha_hora_inicio: fecha_hora_iniciot, fecha_hora_fin: fecha_hora_fint, idHotel: @idHotel });
        }

        function Informacion(e){
            var $form = $(this);
            var ambiente = $("#ambienteID-input").val();
            
            $('#inf').load('@Url.Action("retornarAmbiente", "../AreaHoteles/Ambiente")',{ ambiente: ambiente});
        }
    function isNumber(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            }

            $("#form_ambiente").submit(
                function (event) {
                    $(".form .error").hide();
                    event.preventDefault();
                    var $form = $(this);
                    var ambienteIDt = $form.find('input[name="ambienteID"]').val();
                    var fecha_hora_iniciot = $("#fecha_hora_inicio").val();
                    var fecha_hora_fint = $("#fecha_hora_fin").val();
                    var link = "/AreaEventos/Evento/InsertAmbiente";

                    if (ambienteIDt == "" || !isNumber(ambienteIDt)) {
                        //                        if (!isNumber(ambienteIDt))
                        //                            $(".error_ambiente").show();
                        //                        if (precio == "")
                        ;
                    }
                    else {

                        $.ajax(
                            {
                                url: '@Url.Action("InsertAmbiente","Evento",new {idEvento=idEvento} )',
                                type: 'POST',

                                datatype: 'json',
                                contentType: 'application/json',
                                data:
                                        JSON.stringify({ ambienteID: ambienteIDt, fecha_hora_inicio: fecha_hora_iniciot,
                                            fecha_hora_fin: fecha_hora_fint
                                        }),
                                success: function (result) {

                                    $('#AmbientesGrid').data('tGrid').ajaxRequest();
                                    
                                }
                            }
                        )
                    }
                }
            );
                    
    </script>
        
        @(Html.Telerik().Grid(Model)
        .Name("AmbientesGrid")
        .Localizable("es-ES")
        .Filterable()
        //.ToolBar(commands => commands.Insert())

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ambienteID).ReadOnly(true);
            columns.Bound(p => p.amb_descripcion).ReadOnly(true);
            columns.Bound(p => p.amb_precio).Format("{0:c}");
            columns.Bound(p => p.fecha_hora_inicio).ReadOnly(true);
            columns.Bound(p => p.fecha_hora_fin).ReadOnly(true);
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()

        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("VerAmbientes", "Evento", new { idEvento = @idEvento })
            .Delete("DeleteAmbiente", "Evento", new { idEvento = @idEvento })
            
        )
        .Resizable(config =>
        {
            config.Columns(true);
        })
        .Reorderable(config =>
        {
            config.Columns(true);
        })
           )

    </div>
    <!-- Table Wrapper End -->
</div>