@using Era_sphere.Generics;
@model IEnumerable<Era_sphere.Areas.AreaEventos.Models.EventoXAmbiente.EventoXAmbienteView>
@using Telerik.Web.Mvc.UI


@{
    //$('#inf').load('@Url.Action("retornarAmbiente", "../AreaHoteles/Ambiente")',{ ambienteID: ambienteIDt});
    ViewBag.Title = "EventoXAmbiente";
    var idEvento = ViewBag.idevento;
    var idHotel = ViewBag.idHotel;
    ViewBag.idHotel =idHotel;
    ViewBag.idEvento = idEvento;

}


    <!-- Block Begin -->
    <div class="block_cont">
        <div style=" width:200px;">

            <form id="form_ambiente" action="#" class="form" style="">
            <div>
                 <div id="inf" style="margin-left: 200px; width:300px; height:0px; margin-top:0px;  padding-top:0px;"> </div>  
                <label>
                    Fecha hora inicio</label>
                @(Html.Telerik().DateTimePicker()
                    .Name("fecha_hora_inicio")
                    .Min(DateTime.Now)
                    .ClientEvents(events => events.OnChange("Prueba"))
                    .Interval(60)
                    
                 )
                <span class="error_fecha_inicio error" style="display: none; background: red; color: white">
                    Seleccione fecha inicio </span>
            </div>
            <div>
                <label>
                    Fecha hora fin
                </label>
                @(Html.Telerik().DateTimePicker()
                    .Name("fecha_hora_fin")
                    .ClientEvents(events => events.OnChange("Prueba"))
                    .Interval(60)
                    .Min(DateTime.Now)
                    
                 )
                <span class="error_fecha_fin_error" style="display: none; background: red; color: white">
                    La fecha de fin no puede ser menor que la fecha de inicio </span>
            </div>
            <table>
                <tr>
                    <td>
                        <div id="traer">
                        </div>
                    </td>
                    <td>
                       
                    </td>
                </tr>
            </table>
            </form>

</div>
          
                
    <script type="text/javascript">

        function Prueba() {
            var fecha_hora_fint = $("#fecha_hora_fin").val();
            var fecha_hora_iniciot = $("#fecha_hora_inicio").val();
            
            if(fecha_hora_fint!="" && fecha_hora_iniciot!="") 
            $('#traer').load('@Url.Action("CargarAmbientes", "Evento", new { idEvento = idEvento })', { fecha_hora_inicio: fecha_hora_iniciot, fecha_hora_fin: fecha_hora_fint, idHotel: @idHotel });
        }

        function Informacion(e){

            var ambientet = parseInt($("#ambienteID").data("tComboBox").value());

            if(isNaN(ambientet)){ 
                $('#inf').hide();
                return false;
            }
           $('#inf').load('@Url.Action("retornarAmbiente", "../AreaHoteles/Ambiente")',{ ID: ambientet})
                       $('#inf').show();
        }
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
            $("#form_ambiente").submit(
                function (event) {
                    $(".form .error").hide();
                    event.preventDefault();
                    var $form = $(this);
                    var ambienteIDt = $form.find('input[name="ambienteID"]').val();
                    //alert(ambienteIDt);
                    var fecha_hora_iniciot = $("#fecha_hora_inicio").val();
                    var fecha_hora_fint = $("#fecha_hora_fin").val();
                    var link = "/AreaEventos/Evento/InsertAmbiente";

                    if (ambienteIDt == "" || !isNumber(ambienteIDt) || (fecha_hora_iniciot > fecha_hora_fint)) {
                        //                        if (!isNumber(ambienteIDt))
                        //                            $(".error_ambiente").show();
                        //                        if (precio == "")
                        ;
                        if(fecha_hora_iniciot > fecha_hora_fint){
                            $(".error_fecha_fin_error").show();                        
                        }
                    }
                    else {

                        $.ajax(
                            {
                                url: '@Url.Action("InsertAmbiente","Evento",new {idEvento=idEvento} )',
                                type: 'POST',

                                datatype: 'json',
                                contentType: 'application/json',
                                data:
                                        JSON.stringify({ ambienteID: ambienteIDt, fecha_hora_inicio: fecha_hora_iniciot,
                                            fecha_hora_fin: fecha_hora_fint
                                        }),
                                success: function (result) {
                                    
                                    $('#AmbientesGrid').data('tGrid').ajaxRequest();
                                   // $("#ambienteID").data("tComboBox").ajaxRequest();
                                    $('#traer').load('@Url.Action("CargarAmbientes", "Evento", new { idEvento = idEvento })', { fecha_hora_inicio: fecha_hora_iniciot, fecha_hora_fin: fecha_hora_fint, idHotel: @idHotel });
                                    
                                }
                            }
                        )
                    }
                }
            );
            function Reload(e){
                if( e.name == 'delete'){
                  
                var $form = $(this);
                //var ambienteIDt = $form.find('input[name="ambienteID"]').val();
               
                var fecha_hora_iniciot = $("#fecha_hora_inicio").val();
 
                var fecha_hora_fint = $("#fecha_hora_fin").val();

                 if ( (fecha_hora_iniciot > fecha_hora_fint)) {
                        //                        if (!isNumber(ambienteIDt))
                        //                            $(".error_ambiente").show();
                        //                        if (precio == "")
                        ;
                        return false;
                    }
                $('#traer').load('@Url.Action("CargarAmbientes", "Evento", new { idEvento = idEvento })', { fecha_hora_inicio: fecha_hora_iniciot, fecha_hora_fin: fecha_hora_fint, idHotel: @idHotel });
             }
            }        
    </script>
        
        @(Html.Telerik().Grid(Model)
        .Name("AmbientesGrid")
        .Localizable("es-ES")
        .Filterable()
        .HtmlAttributes(new { style="margin-top:10px;"})
                //.ToolBar(commands => commands.Insert())
        .ClientEvents(events => events.OnDataBound("CalcularCostos").OnComplete("Reload"))
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.amb_detalle).ReadOnly(true);
            columns.Bound(p => p.amb_capacidad_maxima).ReadOnly(true);
            columns.Bound(p => p.amb_num_niveles).ReadOnly(true);
            columns.Bound(p => p.amb_precio).ReadOnly(true);
            columns.Bound(p => p.fecha_hora_inicio).ReadOnly(true);
            columns.Bound(p => p.fecha_hora_fin).ReadOnly(true);
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()

        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("VerAmbientes", "Evento", new { idEvento = @idEvento })
            .Delete("DeleteAmbiente", "Evento", new { idEvento = @idEvento })

        )
        .Resizable(config =>
        {
            config.Columns(true);
        })
        .Reorderable(config =>
        {
            config.Columns(true);
        })
           )
    <div id="result" style="margin-top:10px;">
    </div> 

    </div>
 