@model Era_sphere.Areas.AreaEventos.Models.Evento.EventoView
@{
    ViewBag.Title = "PagarEvento";
    ViewBag.idEvento = Model.ID;
    int idEvento = Model.ID;
    List<Era_sphere.Areas.AreaContable.Models.Recibo.ReciboLinea> recibos= ViewBag.reciboLinea;
}
@using Telerik.Web.Mvc.UI

<script type="text/javascript">
    $(document).ready(function () {
        $('#montosEventos').load('@Url.Action("MontosEvento", "Evento",new {idEvento=idEvento})');
    });

    function montos(){
        $('#montosEventos').load('@Url.Action("MontosEvento", "Evento",new {idEvento=idEvento})');
    }
</script>
<ul>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.cliente_nombre)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.cliente_nombre)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.dni)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.dni)
    </div>
 </li>   
    <div id="montosEventos" >
    </div>
    </ul>    
    
    <div id="lineas"></div>
    @{
        Html.RenderPartial("EventoReciboLinea",recibos);
    }
   