@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model IEnumerable<ReservaView>
@{
    ViewBag.Title = "CheckInCheckOut";
    var hotelID = (int)ViewData["hotelID"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var paises = (new EraSphereContext()).paises.ToList();
    // var ciudades = (new EraSphereContext()).ciudades.ToList();
    var estados = (new EraSphereContext()).estados_reserva.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Realizar check in - check out
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("CheckInCheckOutGrid")
        .Localizable("es-ES")
        .Filterable()
      

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.responsable_pago);
            columns.Bound(p => p.documento_identidad).Title("Documento");
            columns.Bound(p => p.codigo);
            columns.ForeignKey(p => p.estadoID, new SelectList(estados, "ID", "descripcion"));
            columns.Command(commands =>
            {

                commands
                    .Custom("Check-In")
                    .Text("Check-In")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "Reserva")
                .HtmlAttributes(new { style = "text-align: center" });
                commands
                    .Custom("Check-Out")
                    .Text("Check-Out")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "Reserva");
                commands
                    .Custom("RealizarCorteCuenta")
                    .Text("Corte Cuenta")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "Reserva");
                commands
                    .Custom("VerRecibos")
                    .Text("Ver recibos")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "Reserva");
            });

        }).Pageable().Sortable()

        .ClientEvents(events =>
        {
            events.OnComplete("completado");
        })
        
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "CheckInCheckOut", new { id = @hotelID })
         

            )
                                                               )
                                                               
    <p>@Html.ActionLink("Ver gestionar reservas", "Index", new { controller = "../AreaReservas/Reserva", ID = @hotelID, partial = false },
                            new { @class = "tipTop" }
                        )
    </div> 
    <!-- Table Wrapper End -->
</div>

@(Html.Telerik().Window()
    .Name("CheckIn").Title("Check-In")
    .Content(@<text><div id="RegitrarCheckIn">
    </div></text>).Visible(false).Width(600).Height(400).Scrollable(true)
    )


    @(Html.Telerik().Window()
    .Name("CheckOut").Title("Check-Out")
    .Content(@<text><div id="RegitrarCheckOut">
    </div></text>).Visible(false).Width(600).Height(400).Scrollable(true)
    )
    @(Html.Telerik().Window()
    .Name("Cortecuenta").Title("Corte de cuenta")
    .Content(@<text><div id="cortecuentadiv">
    </div></text>).Visible(false).Width(600).Height(600).Scrollable(true)
    )

    @(Html.Telerik().Window()
    .Name("VerRecibosWindow").Title("Ver recibos")
    .Content(@<text><div id="verrecibosdiv">
    </div></text>).Visible(false).Width(600).Height(400).Scrollable(true)
    )
<script type="text/javascript">
   
    function completado(e) {
        if (e.name == "Check-In") {
            var dias_dif = e.response.dias_dif;
            console.log(e.reponse);
            if (e.response.estado != "Sin Check-in") {
                alert("No se puede realizar el check-in porque su estado no es sin check-in");
                return;
            }
            console.log(dias_dif);
            if (dias_dif > 0) {
                alert("Aun no puede efectuar el checkin, faltan " + dias_dif + " dias para realizarlo.");
            } else if(dias_dif < 0){
                alert("La fecha del check-in ya paso.");
                //falta devolver
                return;
            }
            //entro en la fecha
            $("#RegitrarCheckIn").load('@Url.Action("CheckIn", "../AreaReservas/CheckInCheckOut")', { reserva_id: e.response.reserva_id, sirve: dias_dif == 0 });
            $("#CheckIn").data("tWindow").center().open();
            $("#CheckInCheckOutGrid").data("tGrid").ajaxRequest();
        }
        else
            if (e.name == "Check-Out") {
                var estado = e.response.estado;
                var pagado = e.response.pagado;
                if (estado != "CheckedIn") {
                    alert("La reserva no esta en estado de check-in para poder realizar el check-out.");
                    return;
                }
                if (!pagado) {
                    var listo = confirm("Aun falta items por pagar en esta reserva. Desea realizar el check-out de todos modos?");
                    if (!listo) return;
                }
                $("#CheckOut").data("tWindow").center().open();
                $("#RegitrarCheckOut").load('@Url.Action("CheckOut", "../AreaReservas/CheckInCheckOut")' + '?reserva_id=' + e.response.reserva_id);
                
            }
            else if (e.name == "RealizarCorteCuenta") {
                $("#cortecuentadiv").load('@Url.Action("CorteDeCuenta", "../AreaContable/Pagos")', { reservaID: e.response.reserva_id, cancelable: false });
                $("#Cortecuenta").data("tWindow").center().open();
            } else if (e.name == "VerRecibos") {
                $("#verrecibosdiv").load('@Url.Action("VerRecibosReserva", "../AreaContable/Recibo")', { reservaID: e.response.reserva_id });
                $("#VerRecibosWindow").data("tWindow").center().open();
            }

        }
   
</script>
