@model Era_sphere.Areas.AreaContable.Models.Ordenes.OrdenView
@using Era_sphere.Areas.AreaConfiguracion.Models
@using Telerik.Web.Mvc.UI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)
    <fieldset>
    
        <legend></legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.ID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ID, new Dictionary<string, object>(){{"readonly", "true"}})
        </div>

        <!--autogenerado-->
        <div class="editor-label">
            @Html.LabelFor(model => model.ntalonario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ntalonario )
            @Html.ValidationMessageFor(model => model.ntalonario)
        </div> 


@*        <div class="editor-label">
            @Html.LabelFor(model => model.)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.simbolo)
            @Html.ValidationMessageFor(model => model.simbolo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tc)
            @Html.ValidationMessageFor(model => model.tc)
        </div>*@

  
    </fieldset>
}