@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model ReservaView
@{
    ViewBag.Title = "check_in";
    var hotelID = (int)ViewData["hotelID"];
    Layout = "~/Views/Shared/_Layout.cshtml";
   // var paises = (new EraSphereContext()).paises.ToList();
   // var ciudades = (new EraSphereContext()).ciudades.ToList();
   var estados = (new EraSphereContext()).estados_reserva.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Check-In
        </h3>
    </div>
   
    <div class="block_cont">
   
    
   <fieldset>
   

        <div class="editor-label"> @Html.Label("Cliente") </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.responsable_pago, new {@readonly = "readonly"}) </div>

        <div class="editor-label"> @Html.LabelFor(model => model.costo_final) </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.costo_final, new { @readonly = "readonly" }) </div>

       
        
        <div class="editor-label"> @Html.LabelFor(model => model.estadoID) </div>
            @( Html.Telerik().ComboBox()
                    .Name("estadoID")
                    .BindTo(new SelectList(estados, "ID", "descripcion"))
                    .SelectedIndex(0)
                )
      
   </fieldset>
}

</div>

</div>