@{
    ViewBag.Title = "ReservaViewTemplate";
}
@using Era_sphere.Areas.AreaReservas.Models
@using Telerik.Web.Mvc.UI
@model Era_sphere.Areas.AreaReservas.ReservaView

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>           
<button id="mostrar-mant-cliente" class="t-button t-state-default" onclick="showMantCliente();">
               Ir a mantenimiento de clientes
            </button>
@using (Html.BeginForm())
{
    <label>
        Responsable Pago:</label>
    <fieldset>
        <div class="editor-label">
            @(Html.Telerik().AutoComplete()
                .Name("cliente_autocompleta")
                .DataBinding(binding => binding.Ajax().Select("DameClientes", "../AreaClientes/Cliente"))
                .HighlightFirstMatch(true)
                .AutoFill(true).HtmlAttributes(new { style = "width:300px" })
             )

             
        </div>
    </fieldset>
  
    //<input type="submit" id="buscar-cliente-submit" value="Buscar" />
     
   <fieldset>
        <div class="editor-label"> @Html.LabelFor(model => model.dias_estadia) </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.dias_estadia, new {@readonly = "readonly"}) </div>
        
        <div class="editor-label"> @Html.LabelFor(model => model.costo_inicial) </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.costo_inicial, new { @readonly = "readonly" }) </div>

        <div class="editor-label"> @Html.LabelFor(model => model.precio_derecho_reserva) </div>
        <div class="editor-field"> @Html.TextBoxFor(model => model.precio_derecho_reserva, new { @readonly = "readonly" }) </div>

   </fieldset>
}


 @(Html.Telerik().Window().Name("MostrarMantCliente")
        .Title("Mantenimiento de Clientes").Content(
            @<text>
                <div id="mant-cliente-div"></div>
            </text>
        )
            .Modal(true)
            .Visible(false)
            .Width(700).Resizable().Draggable(true).Height(600))



<script type="text/javascript">
    function showMantCliente() {
        $("#mant-cliente-div").load('@Url.Action("IndexPartial", "../AreaClientes/Cliente")');
            var detailModal = $("#MostrarMantCliente").data("tWindow");
            detailModal.center().open();
    }
</script>