@{
    ViewBag.Title = "Administrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id_hotel = (int)@ViewData["id"];
    var razon_social = @ViewData["razon_hotel"];
}

@using Era_sphere.Areas.AreaHoteles.Models
@using Era_sphere.Areas.AreaEventos.Models
@model IEnumerable<HotelView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Acciones a administrar en : @razon_social
        </h3>
    </div>
    Infraestructura
    <div class="block_cont">
        <p>@Html.ActionLink("Administrar Pisos", "Index", new { controller = "Piso" , id = @id_hotel },
                            new { @class = "tipTop" }                      
                        )

        </p>
        <p>@Html.ActionLink("Administrar Habitaciones", "Index",
                            new { controller = "Habitacion" , id= @id_hotel}
                            , new { @class = "tipTop"})
        </p>
        <p>@Html.ActionLink("Administrar Ambientes", "Index",
                            new { controller = "Ambiente" , id= @id_hotel}
                            , new { @class = "tipTop"})
        </p>
    </div>
    Precios
    <div class="block_cont">
        <p>@Html.ActionLink("Precios de Servicios", "Index", new { controller = "HotelXServicioXTemporada" , id = @id_hotel },
                            new { @class = "tipTop" }
                        )

        </p>
        <p>@Html.ActionLink("Alquileres de tipo de habitacion", "Index", new { controller = "HotelXTipoHabitacionXTemporada" , id = @id_hotel},
                            new { @class = "tipTop" }
                        )
        </p>
    </div>
    Eventos
    <div class="block_cont">

        <p>@Html.ActionLink("Eventos", "Index", new { controller = "../AreaEventos/Evento" , id = @id_hotel },
                            new { @class = "tipTop" }
                        )
                        
        </p>
    </div>
    <!-- Table Wrapper End -->
</div>