@using Era_sphere.Areas.AreaReservas.Models
@using Era_sphere.Areas.AreaHoteles.Models
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "IndexHotel";
    bool partial = (bool)(ViewData["partial"]);
    if (!partial)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var tipos_habitaciones = (new EraSphereContext()).tipos_habitacion.ToList();
    tipos_habitaciones.Insert(0, new TipoHabitacion { ID = 0, descripcion = "Todos" });
    var pisos = (new EraSphereContext()).pisos.Where(p => p.hotelID == Model.hotelID).ToList();
    pisos.Insert(0, new Piso { ID = 0, descripcion = "Todos" });
    ViewData["habitaciones_seleccionadas"] = new List<ConsultaLineaView>();
}
@model ConsultaView
<script type="text/javascript">
    var hab_ids = [];
    function Busca() {
        var fecha_inicio = $("#FechaInicio").val();
        var fecha_fin = $("#FechaFin").val();
        var pisoID = $("#pisoID").val();
        var tipo_habitacionID = $("#tipo_habitacionID").val();
        var hotelID = $("#hotelID").val();
        var data = { fecha_inicio: fecha_inicio,
            fecha_fin: fecha_fin,
            pisoID: pisoID,
            tipo_habitacionID: tipo_habitacionID,
            hotelID: hotelID,
            partial: "@partial"
        };
        $("#grid-result").load('@Url.Action("Buscar", "Consulta")', data);
    }
    
    function dateDiff(dateEarlier, dateLater) {
        var one_day=1000*60*60*24
        return (  Math.ceil((dateLater.getTime()-dateEarlier.getTime())/one_day)  );
    }
    function recargaAcumulado() {
        $.ajax({
            url: '@Url.Action("SubConsultaPrecio", "Consulta")',
            traditional: true,
            data: { hab_ids: hab_ids, hotel_id : @Model.hotelID, fecha_inicio : $("#FechaInicio").val(), fecha_fin : $("#FechaFin").val() },
            type: "POST",
            success: function (data) {
                $("#costo_inicial").val(data.costo_inicial);
                $("#precio_derecho_reserva").val(data.precio_derecho_reserva);
                $("#dias_estadia").val(data.dias_estadia);
            },
            async: false
        });
        $.ajax({
            url: '@Url.Action("SubConsulta", "Consulta")',
            traditional: true,
            data: { hab_ids: hab_ids, hotel_id : @Model.hotelID },
            type: "POST",
            success: function (data) { document.getElementById("grid-acumulado").innerHTML = data; },
            async: false
        });
    }
    function agregaHabitacion(id) {
        var existe = false;
        for (a in hab_ids) if (hab_ids[a] == id) existe = true;
        if (!existe)
            hab_ids.push(parseInt(id));
        recargaAcumulado();
    }
    function quitaHabitacion(id) {
        var pos = -1;
        var nuevo = []
        for (i in hab_ids) if (hab_ids[i] != id) nuevo.push(hab_ids[i]);
        hab_ids = nuevo;
        recargaAcumulado();
    }
  

    function validaFecha() {
        var dfecha_inicio = $("#FechaInicio").data("tDatePicker");
        var dfecha_fin = $("#FechaFin").data("tDatePicker");
        
        var inicio = (dfecha_inicio.value());
        var fin = (dfecha_fin.value());
        
        if (fin <= inicio){
        console.log("menor");
            fin=new Date(inicio.getTime() + 86400000);
            console.log(inicio);
            console.log(fin);
        }
        dfecha_fin.value(fin);
        hab_ids = [];
        recargaAcumulado();
    }
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Consulta Habitaciones
        </h3>
    </div>
    <div class="block_cont">
        
            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_inicio)
            </div>
            <div class="editor-field">
                @Html.Telerik().DatePickerFor(model => model.fecha_inicio).Name("FechaInicio").Min(DateTime.Now).Value(DateTime.Now).ClientEvents(
                                        events => events.OnChange("validaFecha"))
                @Html.ValidationMessageFor(model => model.fecha_inicio)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_fin)
            </div>
            <div class="editor-field">
                @Html.Telerik().DatePickerFor(model => model.fecha_fin).Name("FechaFin").Min(DateTime.Now.AddDays(1)).Value(DateTime.Now.AddDays(1)).ClientEvents(
                      events => events.OnChange("validaFecha"))
                @Html.ValidationMessageFor(model => model.fecha_fin)
            </div>
            <div id="todo">
                <div class="editor-label">
                    @Html.LabelFor(model => model.pisoID)
                </div>
                @( Html.Telerik().ComboBox()
                    .Name("pisoID")
                    .BindTo(new SelectList(pisos, "ID", "descripcion"))
                    .SelectedIndex(0)
                )
                <div class="editor-label">
                    @Html.LabelFor(model => model.tipo_habitacionID)
                </div>
                @( Html.Telerik().ComboBox()
                    .Name("tipo_habitacionID")
                    .BindTo(new SelectList(tipos_habitaciones, "ID", "descripcion"))
                    .SelectedIndex(0)
                )
               
            @Html.HiddenFor(model => model.hotelID)
        
        <button type="button" id="buscar-cliente-submit" onclick="Busca();">
            Buscar</button>
        <div style="height: 10px;">
        </div>
        <div style="height: 10px;">
        </div>
        <div id="grid-result">
            @{Html.RenderPartial("GridResultConsulta", new ConsultaView { resultados = new List<ConsultaLineaView>() });}
        </div>
        <div style="height: 10px;">
        </div>
        @{
            if (partial)
            {
            <div id="grid-acumulado">
                @{Html.RenderPartial("GridResultAcumulado", new ConsultaView { resultados = new List<ConsultaLineaView>() });}
            </div>   
            }
        }
        </div>
    </div>
</div>
<!-- Table Wrapper End -->
