@{
    ViewBag.Title = "TipoServicioViewTemplate";
}


@model Era_sphere.Areas.AreaConfiguracion.Models.Servicios.TipoServicioView
@using Era_sphere.Areas.AreaConfiguracion.Models
@using Telerik.Web.Mvc.UI

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)
    <fieldset>
    
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tiene_productos_asociados)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tiene_productos_asociados)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tiene_repeticiones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tiene_repeticiones)
        </div>

        <br />
        <legend style="font-weight:bold">Campos Adicionales (los campos vacios seran ignorados) </legend>
        <br />
        <div class="editor-label"> @Html.LabelFor(model => model.campo1) </div>
        <div class="editor-field"> @Html.EditorFor(model => model.campo1) </div>

        <div class="editor-label"> @Html.LabelFor(model => model.campo2) </div>
        <div class="editor-field"> @Html.EditorFor(model => model.campo2) </div>

        <div class="editor-label"> @Html.LabelFor(model => model.campo3) </div>
        <div class="editor-field"> @Html.EditorFor(model => model.campo3) </div>
  
    </fieldset>
}