@model IEnumerable<TelerikMvc_Orden.Areas.AreaContabilidad.Models.Ordenes.proveedor_x_producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            producto
        </th>
        <th>
            proveedor
        </th>
        <th>
            precioU
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.producto.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
