@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model IEnumerable<ReservaView>
@{
    ViewBag.Title = "CheckInCheckOut";
    var hotelID = (int)ViewData["hotelID"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var paises = (new EraSphereContext()).paises.ToList();
    // var ciudades = (new EraSphereContext()).ciudades.ToList();
    var estados = (new EraSphereContext()).estados_reserva.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Realizar check in - check out
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("ReservaGrid")
        .Localizable("es-ES")
        .Filterable()
      

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.responsable_pago);
            columns.Bound(p => p.documento_identidad).Title("Documento");
            columns.Bound(p => p.codigo);
            columns.ForeignKey(p => p.estadoID, new SelectList(estados, "ID", "descripcion"));
            columns.Command(commands =>
            {

                commands
                    .Custom("Check-In")
                    .Text("Check-In")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "CheckInCheckOut")
                .HtmlAttributes(new { style = "text-align: center" });
                commands
                    .Custom("Check-Out")
                    .Text("Check-Out")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "CheckInCheckOut");
                commands
                    .Custom("RealizarCorteCuenta")
                    .Text("Corte Cuenta")
                    .DataRouteValues(route => route.Add(o => o.ID).RouteKey("reserva_id"))
                    .Ajax(true)
                    .Action("Nada", "CheckInCheckOut");
            });

        }).Pageable().Sortable()

        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "CheckInCheckOut", new { id = @hotelID })
         

            )
                                                               )
    </div> 
    <!-- Table Wrapper End -->
</div>
@(Html.Telerik().Window()
    .Name("ServicioDeReserva").Title("Servicios de Reserva")
    .Content(@<text><div id="mantenimiento_servicio_form">
    </div></text>).Visible(false).Width(800).Height(600).Scrollable(true)
    )
@(Html.Telerik().Window()
    .Name("AsignarHuespedes").Title("Asignar Huesped a Habitación Reservada")
    .Content(@<text><div id="mantenimiento_huespedes">
    </div></text>).Visible(false).Width(800).Height(600).Scrollable(true)
    )
<script type="text/javascript">
    function onComplete(e) {
        console.log(e.name);
        if (e.name == "mostrar_juridico") {
            $("#detalle-cliente-juridico").load('@Url.Action("ClienteJuridicoShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleJuridico").data("tWindow");
            detailModal.center().open();
        } else if (e.name == "mostrar_natural") {
            $("#detalle-cliente-natural").load('@Url.Action("ClienteNaturalShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleNatural").data("tWindow");
            detailModal.center().open();
        }
    }
</script>
