@model Era_sphere.Areas.AreaContable.Models.Ordenes.proveedor_x_productoView
        
    <h4>@Html.DisplayFor(model => model.descripcion_producto)</h4>
    <br />
    <div class="display-label"><p><b>ID Producto: </b>@Html.DisplayFor(model => model.productoID)</p></div> 
    <br />
    <div class="display-label"><p><b>Descripcion: </b>@Html.DisplayFor(model => model.descripcion_producto)</p></div>
    <br />

    <div class="display-label"><p><b>Precio Unitario</b> @Html.DisplayFor(model => model.precio_unitario)</p></div>
    <br />

    <div class="display-label"><p><b>¿Es perecible?: </b>@Html.DisplayFor(mode=>mode.perecible_str)</p></div>
     